<div class = "jumbotron"> 
<h1>Welcome to Roobaroo app!</h1>
<p>We're trying to build a more interactive web app using Ruby on Rails</p>
<p>
	<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
</p>
</div>
